<div class="jumbotron">
  <h2>Welcome to GP Topper</h2>
  <p class="lead">A webapp that tracks Grant Park<br />historic sign topper locations.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>New user?</h4>
    <ul>
      <li><%= link "Register", to: user_path(@conn, :new) %></li>
    </ul>
  </div>

  <div class="col-lg-6">
    <h4>Existing users</h4>
    <li>email</li>
    <li>password</li>
  </div>
</div>
